* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul,ol{
    list-style: none;
}

.btn{
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

.btn:hover{
    color: #FFF;
    opacity: 0.8;
}

a {
    display: inline-block;
}

a:hover{
    text-decoration: none;
}

/*Color*/
.text-color-grey{
    color: #b6b6b6;
}

.text-color-white{
    color: #FFF;
}

.text-color-black{
    color: #000;
}

.text-color-green{
    color: #a9c53a;
}

/*Section*/
.section-big-padding{
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: var(--secondary-bg-color);
}

.section-small-padding{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--primary-bg-color);
}

.secondary-header h2{
    font-size: 3em;
    color: #FFF;
}

.secondary-header p{
    font-size: 2em;
    color: #FFF;
    font-weight: bold;
}

.section-header{
    margin-bottom: 50px;
}

.section-header h2{
    font-size: 2em;
    color: #FFF;
}

/*Button*/
.btn-grey{
    background-color: #e4e4e4;
    color: #000;
}

.btn-grey:hover{
    color: #000;
}

.btn-black{
    background-color: #424242;
    color: #FFF;
}

.btn-light-green{
    background-color: #b6c380;
    color: #FFF;
}

.btn-light-blue{
    background-color: #74b0a4;
    color: #FFF;
}

/*Straight Line*/
.straight-line{
    width: 100%;
    height: 2px;
    background-color: #b6b6b6;
    margin-bottom: 20px;
}

/*Special Header*/
.special-header h4{
    padding: 0px 30px;
    background-color: #282a2e;
    position: relative;
    z-index: 9;
    display: inline-block;
    color: #FFF;
}

.special-header::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: #e4e4e4;
    display: block;
    margin-top: -25px;
}

/*Custom Input*/
.custom-input{
    padding: 10px;
    background-color: #222327;
    width: 100%;
    margin-bottom: 20px;
}